[
    {
        "symbol": "21BC.DE",
        "profile_data": {
            "assetClass": "EQUITY",
            "assetSubClass": "CRYPTOCURRENCY",
            "comment": "",
            "currency": "EUR",
            "name": "21Shares Bitcoin Core ETP",
            "scraperConfiguration": {
                "url": "https://api.boerse-frankfurt.de/v1/data/quote_box/single?isin=CH1199067674&mic=XETR",
                "selector": "$.lastPrice"
            },
            "symbolMapping": {}
        },
        "data_source": {
            "name": "boerse_frankfurt",
            "ticker": "XETR:CH1199067674",
            "start_date": "2022-07-31"
        }
    },
    {
        "symbol": "ALL-IN-AZN",
        "profile_data": {
            "assetClass": "EQUITY",
            "assetSubClass": "MUTUALFUND",
            "comment": "",
            "currency": "EUR",
            "name": "Allianz Insieme Linea Azionaria",
            "scraperConfiguration": {},
            "symbolMapping": {}
        },
        "data_source": {
            "name": "corriere",
            "ticker": "PEX0ALPFRA12.EUR",
            "start_date": "2016-01-01"
        }
    },
    {
        "symbol": "BYBLOS-DIN",
        "profile_data": {
            "assetClass": "EQUITY",
            "assetSubClass": "MUTUALFUND",
            "comment": "",
            "currency": "EUR",
            "name": "BYBLOS Comparto Dinamico",
            "scraperConfiguration": {},
            "symbolMapping": {}
        },
        "data_source": {
            "name": "byblos",
            "ticker": "211",
            "start_date": "2008-10-01"
        }
    },
    {
        "symbol": "FONTE-DIN",
        "profile_data": {
            "assetClass": "EQUITY",
            "assetSubClass": "MUTUALFUND",
            "comment": "",
            "currency": "EUR",
            "name": "Fon.Te. Comparto Dinamico",
            "scraperConfiguration": {},
            "symbolMapping": {}
        },
        "data_source": {
            "name": "fondofonte",
            "ticker": "comparto-dinamico",
            "start_date": "2008-05-01"
        }
    },
    {
        "symbol": "MEDIAFOND-DIN",
        "profile_data": {
            "assetClass": "EQUITY",
            "assetSubClass": "MUTUALFUND",
            "comment": "",
            "currency": "EUR",
            "name": "MEDIAFOND Profilo Dinamico",
            "scraperConfiguration": {},
            "symbolMapping": {}
        },
        "data_source": {
            "name": "mediafond",
            "ticker": "224",
            "start_date": "2010-01-01"
        }
    },
    {
        "symbol": "PREVICOOP-DIN",
        "profile_data": {
            "assetClass": "EQUITY",
            "assetSubClass": "MUTUALFUND",
            "comment": "",
            "currency": "EUR",
            "name": "Previdenza Cooperativa Comparto Dinamico",
            "scraperConfiguration": {},
            "symbolMapping": {}
        },
        "data_source": {
            "name": "previcoop",
            "ticker": "comparto-dinamico",
            "start_date": "2019-01-01"
        }
    },
    {
        "symbol": "COMETA-REDDITO",
        "profile_data": {
            "assetClass": "EQUITY",
            "assetSubClass": "MUTUALFUND",
            "comment": "",
            "currency": "EUR",
            "name": "Fondo Cometa Comparto Reddito",
            "scraperConfiguration": {},
            "symbolMapping": {}
        },
        "data_source": {
            "name": "cometa",
            "ticker": "reddito",
            "start_date": "1999-01-01"
        }
    },
    {
        "symbol": "FSF0581AU",
        "profile_data": {
        "assetClass": "EQUITY",
        "assetSubClass": "MUTUALFUND",
        "comment": "",
        "currency": "AUD",
        "name": "CFS Index Australian Share",
        "scraperConfiguration": {},
        "symbolMapping": {}
        },
        "data_source": {
            "name": "cfs",
            "ticker": "FSF0581AU",
            "start_date": "2004-07-15"
        }
    },
    {
        "symbol": "CSV-LOCAL-EXAMPLE",
        "profile_data": {
            "assetClass": "EQUITY",
            "assetSubClass": "MUTUALFUND",
            "comment": "",
            "currency": "EUR",
            "name": "CSV Local Example",
            "scraperConfiguration": {},
            "symbolMapping": {}
        },
        "data_source": {
            "name": "local",
            "ticker": "data/local/example.csv",
            "start_date": "2020-01-01"
        }
    },
    {
        "symbol": "JSON-LOCAL-EXAMPLE",
        "profile_data": {
            "assetClass": "EQUITY",
            "assetSubClass": "MUTUALFUND",
            "comment": "",
            "currency": "EUR",
            "name": "JSON Local Example",
            "scraperConfiguration": {},
            "symbolMapping": {}
        },
        "data_source": {
            "name": "local",
            "ticker": "data/local/example.json",
            "start_date": "2020-01-01"
        }
    }
]
